:host ::ng-deep {
  display: flex;
  align-items: center;
  .p-dialog {
    min-width: 800px;
  }
  .p-dialog-header {
    height: 50px;
    background-color: var(--laranja);
    color: white;
  }
  .p-dialog-content {
    padding-top: 5px;
  }
  .p-dialog-header-close-icon {
    color: white;
  }
}
